# Set a consolidated PATH, referencing all configured local bins
export PATH=$HOME/.local/bin:$HOME/.dotfiles/bin:$HOME/.local/go/bin:$HOME/.go/bin:$HOME/.node_modules/bin:$HOME/.n/bin:$HOME/.bun/bin:$PATH
export GOPATH=$HOME/.go
export N_PREFIX="$HOME/.n"
export BUN_INSTALL="$HOME/.bun"

export DISABLE_COST_WARNING=1
export DISABLE_ERROR_REPORTING=1
export DISABLE_TELEMETRY=1
export ENABLE_LSP_TOOL=1
export NODE_OPTIONS="--use-system-ca"
